@font-face {
    font-family: 'SEVEN SEAS';
    src: url('fonts/SEVENSEAS-Regular.woff2') format('woff2'),
        url('fonts/SEVENSEAS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


h1 {
    font-family: 'SEVEN SEAS';
}